<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="robotics-baget" value="https://robotics-baget.joanneum.at/v3/index.json" protocolVersion="3"/>
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
    </packageSources>
</configuration>
